<%- include('partials/header') %>

<div class="jumbotron ">
  <div class="container">
    <h1 class="display-4 text-center">ZEGO TODAY<span><i class="fas fa-key fa-1x"></i></span></h1>
    <hr>
    <section id="testimonials">
      <div id="testimonials-slide" class="carousel slide" data-ride="carousel" data-interval="false">
        <ol class="carousel-indicators mb-0">
          <% for(var index=0;index*3<allSecrets.length;index+=1){%>
            <li data-target="#testimonials-slide" data-slide-to="<%=index%>" <%if(index==startSlide){%>class="active"<%}%>></li>
          <%}%>
        </ol>
        <div class="carousel-inner">
          <% for(var index=0;index*3<allSecrets.length;index+=1){%>

            <div class="carousel-item <%if(index==startSlide){%> active <%}%>">
              <div class="row deck mb-3">
                <% for(var i=0;i<3;i+=1){%>
                  <% if(allSecrets[index*3+i]){%>
                    <div class="col-lg-4 card mb-4 shadow-sm">
                      <div class="card-body">
                        <h5 class="card-title pricing-card-title"><%=allSecrets[index*3+i].content.substring(0, 55)%><%if(allSecrets[index*3+i].content.length>55){%>...<%}%></h5>
                        <%if(allSecrets[index*3+i].content.length>100){%>
                          <form class="text-center" action="/secrets" method="post">
                            <input type="hidden" name="page" value="<%=index%>">
                            <input type="hidden" name="comment" value="<%=allSecrets[index*3+i]._id%>" />
                            <a  href="#" onclick="this.parentNode.submit()">Read More</a>
                          </form>
                        <%}%>
                        <div class="down-align">
                          <hr>
                          <div class="row text-center">
                            <div class="col-4 m-0 p-0">
                              <form class="" action="/secrets" method="post">
                                <input type="hidden" name="page" value="<%=index%>">
                                <button type="submit" name="liked" value="<%=allSecrets[index*3+i]._id%>">
                                  <i class="far fa-thumbs-up"></i>
                                  <%=allSecrets[index*3+i].liked.length%>
                                </button>
                              </form>
                            </div>
                            <div class="col-4 m-0 p-0">
                              <form class="" action="/secrets" method="post">
                                <input type="hidden" name="page" value="<%=index%>">
                                <button type="submit" name="unliked" value="<%=allSecrets[index*3+i]._id%>">
                                  <i class="far fa-thumbs-down"></i>
                                  <%=allSecrets[index*3+i].unliked.length%>
                                </button>
                              </form>
                            </div>
                            <div class="col-4 m-0 p-0">
                              <form class="" action="/secrets" method="post">
                                <input type="hidden" name="page" value="<%=index%>">
                                <button type="submit" name="comment" value="<%=allSecrets[index*3+i]._id%>">
                                  <i class="far fa-comment-dots"></i>
                                  <%=allSecrets[index*3+i].comment.length%>
                                </button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <%}%>
                <%}%>
              </div>

            </div>

          <%};%>

        </div>
        <a class="carousel-control-prev" href="#testimonials-slide" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#testimonials-slide" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </section>

    <hr>
    <div class="text-center">
      <a class="btn btn-light btn-lg" href="/logout" role="button">로그아웃</a>
      <a class="btn btn-dark btn-lg" href="/submit" role="button">글쓰기</a>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
